@media (max-width: 768px) {
    body {
        font-size: 18px;
    }

    br {
        display: none;
    }

    label{
        left: 20px;
        font-size: 18px;
    }

    input{
        left: 20px;
    }

    .labelL{
        left: 20px;
        font-size: 18px;
    }

    textarea{
        left: 20px;
        width: 320px;
    }

    button{
        left: 30px;
    }

    .back{
        left: 60px;
    }

    .body{
        width: 100%;
        height: 100%;
    }

    .content{
        max-width: 400px;
        padding: 1px;
        left: 10px;
    }

    .imgL {
        max-width: 300px;
    }

    .imgL img {
        max-width: 300px;
        left: auto ;
    }

    .top-link {
        font-size: 18px;
        width: 114px;
        height: 25px;
        left: 300px;
    }

    a {
        font-size: 16px;
    }    
}

@media (max-width: 480px) {

    a {
        font-size: 14px;
    }

    body {
        font-size: 18px;
    }

    br {
        display: none;
    }

    button{
        font-size: 18px;
        left: 30px;
    }
    
    input{
        left: 20px;
    }

    label{
        left: 20px;
        font-size: 18px;
    }

    textarea{
        left: 20px;
        width: 320px;
    }

    .back{
        left: 60px;
    }

    .body{
        width: 100%;
        height: 100%;
    }

    .content{
        max-width: 400px;
        padding: 1px;
        left: 10px;
    }

    .imgL {
        max-width: 100%;
    }

    .imgL img {
        max-width: 100%;
    }

    .top-link {
        font-size: 18px;
        width: 114px;
        height: 25px;
        left: 300px;
    }

    .labelL{
        left: 20px;
        font-size: 18px;
    }
}